.tabs{
    background-color: aquamarine;
    padding: 20px;
    height: 70px;
    text-align: center;
    margin: 0px;
}

#content{
    padding: 0px;
    margin: 0;
}

#page{
    font-family: 'Marker Felt', fantasy;
    background-color: aqua;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.title{
    font-size: xx-large;
    padding: 40px;
}


button{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 100px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 48px;
color: #fff;
background-color: #1ED760;
height: 48px;
margin-left: 10px;
}
button:hover{
    transform: scale(1.04);
    background-color: #21e065;
}
